.product-table {
  margin-top: 20px;
  width: 100%;
}

.product-table table {
  border: 1px solid #d0c9c9;
}

.product-table th {
  background-color: #b7adad;
}

.product-table td {
  padding: 8px;
}

.product-table .ant-table-tbody > tr > td {
  border-bottom: none;
}

.product-table .ant-table-tbody > tr:last-child > td {
  border-bottom: 1px solid #978f8f;
}

.centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Định nghĩa các biến màu sắc
$primary-color: #007bff;
$danger-color: #dc3545;

// Định nghĩa lớp cho bảng
.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: $primary-color;
    color: #fff;
  }

  td {
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .centered-title {
    text-align: center;
  }

  .centered-actions {
    display: flex;
    justify-content: center;

    button {
      margin: 0 4px;
    }

    .edit-button {
      color: $primary-color;
    }

    .delete-button {
      color: $danger-color;
    }
  }
}

// Tạo responsive cho bảng
@media screen and (max-width: 767px) {
  .table {
    th,
    td {
      display: block;
      width: 100%;
    }

    th {
      text-align: left;
    }

    td {
      text-align: center;
    }

    .centered-title {
      text-align: center;
    }

    .centered-actions {
      flex-direction: column;

      button {
        margin: 4px 0;
      }
    }
  }
}

:where(.css-dev-only-do-not-override-190m0jy).ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item-error
  .ant-upload-list-item-name,
:where(.css-dev-only-do-not-override-190m0jy).ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item-error
  .ant-upload-icon
  .anticon {
  color: black !important;
}
