footer{
    background-color:#9bce77 ;
    margin-top: 5%;
}
.footer-col{
    margin-top: 1%;
    margin-left:7.5%
}
.footer-logo{
    width: 150px;
height: 150px;
flex-shrink: 0;
border-radius: 80px;
}
.footer-col p{
    padding:10px;
    font-size: 1.5em;
    color:white;
}
.footer-col--end{
    margin-bottom: 20px;
}