.Cart-container{
    margin-top:5%;
    margin-left: 8%;
    margin-right: 8%;
}
.custom-row td {
   
    padding: 4px;
    text-align: center;
  }
  :where(.css-dev-only-do-not-override-byeoj0).ant-table-wrapper .ant-table-tbody >tr >th, :where(.css-dev-only-do-not-override-byeoj0).ant-table-wrapper .ant-table-tbody >tr >td {

    border-bottom: 2px solid !important;
}
:where(.css-dev-only-do-not-override-byeoj0).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-byeoj0).ant-table-wrapper .ant-table-thead >tr>td {
   
    border-bottom: 2px solid;
}