
  
  
  .custom-search .ant-btn-primary {
    background-color: rgba(129, 215, 62, 0.5);
    color:black
  }
  .custom-search .ant-btn-primary:hover {
    background: linear-gradient(180deg, #C8E4B2 0%, #C8E4B2 0.01%, #9ED2BE 47.92%, #7EAA92 100%);
  }
  .custom-search .custom-enter-button:hover {
    color: black;
  }