.custom-search .ant-btn-primary {
  background-color: #ffb8c9;
  color: #fff;
}
.custom-search .ant-btn-primary:hover {
  background: #ff95ae !important;
}
.custom-search .custom-enter-button:hover {
  color: #fff;
}
