* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #8CAE71;
  height: 86px;
}
.header-row {
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.header b {
  font-size: 18px;
}

.col_image__logo {
  height: 70px;
  flex-shrink: 0;
  border-radius: 48px;
}

.col__login__buton {
  display: inline-flex;
  padding: 5px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-color: orangered;
  border-radius: 5px;
  background: #c8e4b2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-row h2{
    margin-top: -45px;
    color: white;
    margin-left: 75px;
}
.col__cart__text {
  margin-top: -40px;
  margin-left: 50px;
  color: white;
  padding-bottom: 30px;
}
.col__cart__text:hover,
.col__cart__text1:hover {
  color: rgb(239, 131, 149) !important ;
}
.col__cart__inline {
  margin-left: 50px;

  display: flex;
}
.login-text{
  margin-top: -100px !important;
  margin-left: 50px;
}

.col__cart__text1 {
  margin-top: -30px;

  color: white;
  padding-right: 5px;
}

.col__cart__container:hover .col__cart__text,
.col__cart__container:hover .col__cart__text1 {
  color: rgb(239, 131, 149) !important ;
}
.no-margin {
  color: rgb(239, 131, 149);
}
.col__cart__text {
  display: block;
}
.col {
  margin-top: 40px;

}
.col__login {
  margin-top: 30px;
}
.col__cart {
  margin-top: 10px;
}
.col__image {
  margin-top: 10px;
}

//
.slider {
  margin-top: 40px;
}
.col__cart__icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  padding: 8px;
  width: 45px;
  height: 45px; /* Điều chỉnh kích thước biểu tượng theo ý muốn */
}
.tags p{
   margin-top: 35px;
   font-size: 1.5em;
 
}
.tags-navigation{
  display: flex;
  gap:65px
}