.descriptions-container {
    display: flex;
  }
  
  .descriptions-column-1 {
    flex: 1;
    margin-right: 20%;
  
  }
  .descriptions-column-2{
    margin-top: 43.4px;
  }
  .img{
    width: 350px;
  }